<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application.properties"/>
    <bean id = "emp" class = "com.skillup.aop.Employee" autowire="byType">
        <property name="name" value="Manasa"/>
        <property name="id" value="1234"/>

    </bean>
    <bean id = "address" class = "com.skillup.aop.Address">
        <property name="streetnum" value="5"/>
        <property name="city" value="Hyderabad"/>
        <property name="state" value="Telangana"/>
    </bean>
</beans>